<div class="card text-dark bg-light h-100 text-center">
    <div class="card-header">{{ exchange.name | titlecase }}</div>
    <img [src]="exchange.image" class="card-img-top p-3 w-50 m-auto" alt="...">
    <div class="card-body d-grid gap-2">
        <!-- <h5 class="card-title">{{ exchange.name | titlecase }}</h5> -->
        <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
        <a [routerLink]="['/exchanges/', exchange.id]" class="btn btn-success align-self-end">Más Info</a>
    </div>
</div>