<hr class="w-75 m-auto">
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 mt-auto">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">
                Build by <a class="link-success" [href]="urlGithub" target="_blank" rel="noopener noreferrer">Mick Herbivore <em class="fa-brands fa-github"></em></a>
            </span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-muted" [href]="urlTwitter" target="_blank" rel="noopener noreferrer">
                    <em class="fa-brands fa-twitter"></em>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" [href]="urlInstagram" target="_blank" rel="noopener noreferrer">
                    <em class="fa-brands fa-instagram"></em>
                </a>
            </li>
        </ul>
    </footer>
</div>