<form autocomplete="off" [formGroup]="searchForm" (submit)="buscar()">

    <div class="form-group g-3 row">
        <div class="col-md-8">
            <input type="text" class="form-control" name="name" placeholder="Buscar por nombre..." formControlName="name">
        </div>
        <div class="col d-grid gap-2 d-md-block">
            <button [disabled]="searchForm.invalid" type="submit" class="btn btn-success btn-block mx-2">
                Buscar 
                <em class="fa-solid fa-magnifying-glass"></em>
            </button>
            <button [disabled]="searchForm.invalid" (click)="limpiarBusqueda()" type="button" class="btn btn-warning btn-block mx-2">
                Limpiar  
            </button>
        </div>
    </div>

</form>