<div *ngIf="markets.length; else loading">

    <p class="h1">Las Criptomonedas más importantes</p>

    <div class="row py-4">
        <div class="col">
            <app-search (buscarEvent)="buscar($event)" (limpiarEvent)="limpiarBusqueda()">
            </app-search>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
        <div class="col" *ngFor="let market of marketsResultado">
            <app-market-card [market]="market"></app-market-card>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="d-flex justify-content-center m-5">
        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
</ng-template>